.hero-area {
    min-height: 100vh;
}
.hero-content {
    height: 90vh;
    display: flex;
    align-items: center;
}
.hero-text {
    margin-left: 70px;
}
.hero-text h5 {
    font-weight: 300;
}
.follow-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-left: -50px;
    height: 320px;
    z-index: 1;
    margin-top: -40px;
}
.follow-links ul {
    list-style: none;
    margin-left: -30px
}
.follow-links ul li {
    padding: 5px 0px;
}
.follow-links ul li a {
    color: #66FCF1;
}
.follow-links p {
    transform: rotate(-90deg);
}
.follow-links::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 120px;
    background-color: #66FCF1;
    margin-top: 150px ;
    z-index: -1;
}

.hero-content h1 {
    color: white;
    font-size: 78px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero-content h4, h5 {
    color: yellow;
    font-family: 'Lato',
    sans-serif;
}
.hero-content h5 {
    line-height: .8;
}

@media only screen and (max-width: 767px) {

    .hero-content {
        display: flex;
        flex-direction: column-reverse;
    }
    .hero-text {
        text-align: center;
        margin-left: 0px;
    }
    .hero-text h1 {
        font-size: 40px;
    }
    .follow-links {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-left: 0px;
    }
    .follow-links ul li {
        display: inline-block;
        margin: 0px 8px;
    }
    .follow-links p {
        transform: rotate(0deg);
    }
    .follow-links::after {
        display: none;
    }
}