* {
  padding: 0;
  margin: 0;
  
}
html {
  font-family: georgia;
  box-sizing: border-box;
}
body {
  background-color: #0B0C10;
}

h1, h2 {
  font-family: 'Lato',
  sans-serif;
  font-weight: 900;
}
.bg-color1 {
  background-color: #0B0C10;
}
.bg-color2 {
  background-color: #1F2833;
}
.text-color1 {
  color: #C5C6C7;
}
.text-color2, p {
  color: #66FCF1;
}
.text-color3 {
  color: #45A29E;
}

.button {
  color: #66FCF1;
  background-color: transparent;
  border: 1px solid yellow;
  padding: 10px 30px;
  border-radius: 3px;
  font-weight: 500;
  transition:  .4s ease-in ;
}
.button:hover {
  background-color: yellow;
  color: black;
  font-weight: 600;
}

.resume {
  background-color: yellow;
  color: black;
  font-weight: 600;
}

.resume:hover {
  background-color: transparent;
  color: #66FCF1;
}